@media (max-width: 1300px) {
  .dashboard {
    &-right {
      .student {
        .table {
          border: 0;

          thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }

          tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: 0.625em;
          }

          td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 1rem;
            text-align: right;

            &:last-child {
              border-bottom: 0;
            }

            &::before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .dashboard {
    display: grid;
    grid-template-columns: 5fr;

    &-left {
      display: none;
    }

    &-right {
      .control {
        grid-template-columns: repeat(2, 2fr);
      }
      .info {
        grid-template-columns: repeat(1, 1fr);
      }
      .notice {
        grid-template-columns: repeat(1, 1fr);
      }
      h2 {
        font-size: 18px;
      }

      .toggle {
        background: transparent;
        color: $light-color;
        border: none;
        margin-bottom: 5px;
        cursor: pointer;
      }
    }
  }

  .student {
    &-btn {
      button {
        font-size: 15px !important;
        padding: 0.5rem 0.5rem;
      }
    }
  }

  .img-round {
    width: 60px;
    height: 60px;
  }

  .sm-hide {
    display: flex;
  }
  .lg-hide {
    display: none;
  }

  nav {
    background: $dark-color;
    border-right: 2px solid rgba(200, 200, 200, 0.1);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);

    .logo {
      padding: 25px;
      text-align: center;
      align-items: center;
    }

    ul {
      padding-top: 2rem;
      line-height: 3;

      li a {
        display: block;
        padding: 5px 20px;
        color: $light-color;

        &.active {
          background: $secondary-color;
        }

        &:hover {
          background: $light-color;
          color: $secondary-color;
        }

        i {
          padding: 0 10px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .staff {
    .form-card {
      grid-template-columns: 1fr;
    }
    .flex {
      input[type='search'] {
        height: 100%;
        width: 100%;
        outline-color: $primary-color;
      }
    }
    .btn {
      display: none;
    }
  }

  .student {
    &-btn {
      button {
        font-size: 13px !important;
        padding: 0.5rem 0.3rem !important;
      }
    }
  }
}

@media (max-width: 320px) {
  .student {
    &-btn {
      button {
        font-size: 9px !important;
        padding: 0.5rem 0.4rem !important;
      }
    }
    h2 {
      font-size: 15px;
    }
  }
}
